<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Incident</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/editIncident.js"></script> 
</head>
<body>
    <%- include('../partials/header') %> 

    <main>
        <div class="container">
            <h1>Incident Details</h1>
            <% if (incident) { %>
                <p><strong>ID:</strong> <%= incident.id %></p>
                <p><strong>Title:</strong> <%= incident.title %></p>
                <p><strong>Description:</strong> <%= incident.description %></p>
                <p><strong>Root Cause:</strong> <%= incident.root_cause %></p>
                <p><strong>Date:</strong> <%= new Date(incident.createdAt).toLocaleDateString() %></p>
                <div class="button-group">
                    <button class="button btn-secondary navigate-button" data-url="/action-items">Back to Action Items</button>
                </div>
            <% } else { %>
                    <p>Incident not found.</p>
            <% } %>
            
            <%- include('../partials/actionItemsTable', { actionItems: actionItems }) %>
        </div>
        
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>